# only ignoring the Big stuff
/data/aclImdb
/data/movies.txt
/data/movie_samples/snippetaa.txt
/data/movie_samples/snippetab.txt
/data/movie_samples/snippetac.txt
/data/movie_samples/snippetad.txt
/data/movie_samples/snippetae.txt
/data/movie_samples/snippetaf.txt
/data/movie_samples/snippetag.txt
/data/movie_samples/snippetah.txt
/data/movie_samples/snippetai.txt
/data/movie_samples/snippetaj.txt
/data/movie_samples/snippetak.txt
/data/movie_samples/snippetal.txt
/data/movie_samples/snippetam.txt
/data/movie_samples/snippetan.txt
/data/movie_samples/snippetao.txt
/data/movie_samples/snippetap.txt
/data/movie_samples/snippetaq.txt
/data/movie_samples/snippetar.txt
/data/movie_samples/snippetas.txt
/data/movie_samples/snippetat.txt
/data/movie_samples/snippetau.txt
/data/movie_samples/snippetav.txt
/data/movie_samples/snippetaw.txt
/data/movie_samples/snippetax.txt
/data/movie_samples/snippetay.txt
/data/movie_samples/snippetaz.txt
/data/movie_samples/snippetba.txt
/data/movie_samples/snippetbb.txt
/data/movie_samples/snippetbc.txt
/data/movie_samples/snippetbd.txt
/data/movie_samples/snippetbe.txt
/data/movie_samples/snippetbf.txt
/data/movie_samples/snippetbg.txt
/data/movie_samples/snippetbh.txt
/data/movie_samples/snippetbi.txt
/data/movie_samples/snippetbj.txt
/data/movie_samples/snippetbk.txt
/data/movie_samples/snippetbl.txt
/data/movie_samples/snippetbm.txt
/data/movie_samples/snippetbn.txt
